RewriteEngine on

ErrorDocument 404 /index.php?error=404

#Front Pages
RewriteRule ^results(/?)$ index.php?controller=Results&action=renderView [nc,qsa,L]
RewriteRule ^product/([0-9]+)(/?)$ index.php?controller=Product&action=renderView&id=$1 [nc,qsa,L]
RewriteRule ^cart(/?)$ index.php?controller=Cart&action=renderView [nc,qsa,L]

#Pages utilisateurs
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^login(/?)$ index.php?controller=Login&action=renderView [nc,qsa]

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^login(/?)$ index.php?controller=Login&action=login [nc]

#Conditions de réécriture : Si la requête est en POST, alors on part du principe que le formulaire a été rempli : on essaye de l'ajouter à la BDD.
#Pour les autres types de requêtes, renvoie simplement sur le formulaire à remplir.
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^register(/?)$ index.php?controller=Register&action=renderView [NC,L,qsa]

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^register(/?)$ index.php?controller=Register&action=sendForm [NC,L]

#Pages de gestion de compte
RewriteRule ^account(/?)$ index.php?controller=AccountSettings&action=renderView [NC,L]
RewriteRule ^account/logout(/?)$ index.php?controller=AccountSettings&action=disconnect [NC,L]


#Route "API" pour les requêtes AJAX
RewriteRule ^cart/content(/?)$ index.php?controller=Cart&action=getCartContent [nc,qsa,L]
RewriteRule ^cart/add-item(/?)$ index.php?controller=Cart&action=addItemToCart [nc,qsa,L]
RewriteRule ^cart/update-item(/?)$ index.php?controller=Cart&action=updateItemInCart [nc,qsa,L]
RewriteRule ^cart/remove-item(/?)$ index.php?controller=Cart&action=removeItemFromCart [nc,qsa,L]
RewriteRule ^cart/update(/?)$ index.php?controller=Cart&action=updateCart [nc,qsa,L]