@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "banana-grotesk";
    src: url("./fonts/banana-grotesk/banana-grotesk-extralight.otf");
    font-weight: 200;
}

@font-face {
    font-family: "banana-grotesk";
    src: url("./fonts/banana-grotesk/banana-grotesk-regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "banana-grotesk";
    src: url("./fonts/banana-grotesk/banana-grotesk-medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "banana-grotesk";
    src: url("./fonts/banana-grotesk/banana-grotesk-semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "banana-grotesk";
    src: url("./fonts/banana-grotesk/banana-grotesk-bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "banana-grotesk";
    src: url("./fonts/banana-grotesk/banana-grotesk-extrabold.otf");
    font-weight: 800;
}

@layer components {
    .product button {
        bottom: 15px;
        opacity: 0;
        transform: translateY(20px);
        transition: 0.17s ease-out;
    }

    .product:hover button {
        opacity: 100;
        transform: translateY(0);
        transition: 0.1s;
    }

    .product button:hover {
        filter: drop-shadow(0 3px #00000096);
        transform: translateY(-2px);
    }

    #search-input:focus-visible {
        outline: none;
    }

    .accordion img {
        height: 65px;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
    }

    .bg-megarex {
        background: linear-gradient(90deg, #00cec0 0%, magenta 100%);
    }

    #comiket {
        background-image: url(img/category/bg/comiket-bg.png);
        background-size: cover;
    }

    #m3 {
        background-image: url(img/category/bg/m3.jpg);
        background-size: cover;
    }

    #touhou {
        background-image: url(img/category/bg/touhou.jpg);
        background-size: cover;
    }
}
